/* ClientLogos.css */
.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.scroll-container img {
  width: 100px;
  height: 60px;
  margin-right: 16px;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Sembunyikan scrollbar untuk tampilan yang bersih */
}

.scroll-container {
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
